apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-app
  namespace: argocd
spec:
  destination:
    namespace: default
    name: in-cluster
  project: default
  source:
    path: 1-app-of-apps/apps
    repoURL: https://github.com/aleiner/PM2026Demo
    targetRevision: main
  syncPolicy:
    automated: {}
